@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body, table{
	font-size:12px;
	font-family: Montserrat, sans-serif;
}
#top{

	min-height: 100%; position: relative; width:100%;}

#header{
	text-align: center;
	width:100%;
	vertical-align: center;
	background-color: white;
	font-family: Montserrat, sans-serif;
}
#header img{
	width:100%;
	max-width:522px;
}
#menu{
	text-align: center;
	width:100%;
	background-color: gray;
	
}
#main{
	width:70%;
	height:500px;
	float: left;
	
}
#content{
	width:30%;
	height:100px;
	float: left;
	background-color: orange;
}
#advertise{
	width:30%;
	height:400px;
	float: left;
	background-color: white;
}
#footer{
	font-size:13px;
	color:white;
	text-align:center;
	margin-top:-20px; 
	clear: both; 
	position: relative; 
	height: 20px;
	background-color: #333333;
	font-family: Montserrat, sans-serif;
	
}


#first{
	width:100%;
	height:600px;
}
